<div>
  <select onchange={{action "selectCategory" value="target.value"}}>
    {{#each categories as |category|}}
    <option value={{category.id}}>{{category.name}}</option>
    {{/each}}
  </select>
</div>
<br/>
<div>
  <label>Title</label>
  {{input type="text" value=blog.title}}
</div>
<br/>
<div>
  <label>Body</label>
  {{textarea value=blog.body}}
</div>
